body {
    background-color: black;
    color: #fff;
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
}

.high-score{
    float: left;
    border: solid 0.2em #fff;
    margin: 40px 10px 10px 10px;
}

.high-score table {
    border-top: solid 0.1em #fff;
}

.high-score table caption {
    padding: 30px;
}

.high-score th {
    text-align: center;
    font-size: 30px;
    width: 200px;
    height: 100px;
}

canvas {
    border: solid 0.2em #fff;
    height: 90vh;
    clear: both;
}